body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-gap {
  margin: 0 10px;
}

.adminPanel {
  padding: 0 10px;
  width: 20%;
  float: right;
  border-left: 3px solid black;
}

.examPanel {
  width: 70%;
  text-align: center;
  float: left;
}

.header {
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}