body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-gap {
  margin: 0 10px;
}

.adminPanel {
  padding: 0 10px;
  width: 30%;
  float: right;
  border-left: 3px solid black;
}

.examPanel {
  width: 60%;
  text-align: center;
  float: left;
}

.header {
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.adminForm {
  border-top: 3px solid black;
  margin-top: 10px;
  padding-top: 10px;
}

.listGroup {
  display: flex;
  flex-wrap: nowrap;
  /* border: 1px solid red; */
}

.listContent {
  /* border: 1px solid blue; */
  flex-grow: 2;
  align-self: flex-start;
}

.buttonGroup {
  text-align: right;
  flex-grow: 1;
  /* border: 1px solid green; */
  align-self: flex-end;
}

/* .buttonGroup button {
  vertical-align: middle;
} */