/* * {
  margin: 0;
  padding: 0;
} */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.button-gap {
  margin: 0 10px;
}

.adminPanel {
  padding: 0 10px;
  text-align: center;
  flex-grow: 1;
}

.examPanel {
  text-align: center;
  border-right: 3px solid black;
  flex-grow: 10;
}

.header {
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.adminForm {
  border-top: 3px solid black;
  margin-top: 10px;
  padding-top: 10px;
}

.listGroup {
  display: flex;
  flex-wrap: nowrap;
}

.listContent {
  flex-grow: 2;
  align-self: flex-start;
  text-align: left;
}

.buttonGroup {
  text-align: right;
  flex-grow: 1;
  align-self: flex-end;
}

/* .buttonGroup button {
  vertical-align: middle;
} */